mixin card(svgpath, cardhead, cardp)
    .card.col-12.col-md-6.col-lg-4
        img(src=`./assets/homepage/cards/icon${svgpath}.svg`, alt="", class="card__img")
        a(href="./pages/services_entry.html").h4.card__head=cardhead
        p.card__txt=cardp
.row
    +card('1', 'IT and e-commerce', 'An endless stream of contracts, tax issues, labor relations, corporate papers - legal work distracts you from doing business. But there is not much work to do to hire an in-house lawyer.')
    +card('2','Comprehensive daily legal support','In addition, over time, the work will become the same type and uninteresting for a full-time lawyer. And we know very well how difficult it is to find a good candidate with experience in the field of information technology in Ukraine.')
    +card('3','Structuring corporate relationships','Instead of just providing legal services, we will hire a lawyer or a whole team that will fit into the daily life of your company.')
    +card('4','Building contractual relations','Once a week, or week after month, you have your own lawyer by your side. Anyone in the company can catch it at the coffee maker and just talk about current affairs instead of waiting for update status.')
    +card('5','Protection of business, intellectual property','And all the other time he will work on new diverse projects, so he will definitely not stop in professional development. One way or another, all Axon Partners will work for you instead of a corporate lawyer.')
    +card('6','Judicial representation','Is it a small, medium-sized company or a market leader? Local business or multinational company? Do you have your own legal department or not?')