footer.footer__container
    .footer_border
        .d-flex.justify-content-center.justify-content-md-between
            div.footer__box1.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center
                p.adress.footer__adress Kyiv, Mechnikova str, 14/1
                span.dot-separator.footer__separator.d-none.d-md-inline-block
                a.footer__map-link on map
            div.d-none.d-md-block
                span.footer__copyright.d-none.d-md-inline-block © 2021 HLEGAL Law company, LLC
        div.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-start.align-items-center
            a.fb-link.d-inline-block(href='#')
                svg(width='38' height='38' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_22721_6686)')
                        path(class= "fb-link__hover", d='M24 12.0733C24 5.40541 18.6274 0 12 0C5.37258 0 0 5.40541 0 12.0733C0 18.0995 4.38823 23.0943 10.125 24V15.5633H7.07813V12.0733H10.125V9.41343C10.125 6.38755 11.9165 4.71615 14.6576 4.71615C15.9705 4.71615 17.3438 4.95195 17.3438 4.95195V7.92313H15.8306C14.3399 7.92313 13.875 8.85379 13.875 9.80857V12.0733H17.2031L16.6711 15.5633H13.875V24C19.6118 23.0943 24 18.0995 24 12.0733Z' fill='#B3B3BA')
                    defs
                        clippath#clip0_22721_6686
                            rect(width='38' height='38' fill='white')
            span.dot-separator.footer__separator.d-none.d-md-inline-block
            p.telephone.footer__telephone.d-inline-block 0800 211 927
            span.dot-separator.footer__separator.d-none.d-md-inline-block
            p.footer__mail.d-inline-block contact@forstudy.space
            span.footer__copyright.footer__copyright__bottom.d-md-none.d-inline-block © 2021 HLEGAL Law company, LLC