@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

a {
  display: inline-block;
  cursor: pointer;
}

.hero {
  font-size: 38px;
  font-weight: 700;
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  line-height: 37px;
}
@media screen and (max-width: 768px) {
  .hero {
    font-size: 30px;
    line-height: 37px;
  }
}

.legal-solution {
  font-size: 38px;
  color: white;
}

.main-section__head {
  font-size: 38px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.adress {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  .adress {
    color: #B3B3BA;
  }
}

.telephone {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
}

.header-current {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header-current {
    font-size: 36px;
  }
}

.h-adaptive {
  font-weight: 700;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .h-adaptive {
    font-size: 38px;
  }
}

.arrow-link {
  color: #24A3FF;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.arrow-link:hover {
  color: #F0145A;
}

.h4 {
  font-weight: 700;
  font-size: 16px;
}

.h2 {
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h3 {
  font-weight: 700;
  font-size: 22px;
}

.txt-adaptive {
  font-weight: 700;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .txt-adaptive {
    font-size: 38px;
  }
}

.gradient-txt {
  background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.h5 {
  font-weight: 700;
  font-size: 14px;
}

.p-services {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.contact-txt {
  font-size: 21px;
  font-weight: 400;
}

.grey-section {
  background-color: #F5F5FA;
}

.container-header,
.main-section__header {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container-header {
    padding: 20px 15px 0;
  }
}
.header-grid__info {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .header-grid__info {
    padding: 0 0 0 0;
  }
}

.offcanvas-styling {
  border-radius: 12px 12px 0 0;
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .offcanvas-styling {
    margin: 0 0 0 0;
  }
}
.offcanvas-styling__body {
  gap: 15px;
}

.offcanvas-md {
  --bs-offcanvas-height: fit-content;
}

.hamburger-button {
  border-radius: 8px;
  transition: all 0.5s ease;
}
.hamburger-button:active {
  background-color: #E6E6F0;
  opacity: 0.75;
}

.nav-bar__link {
  text-align: center;
  text-decoration: none;
  color: #24A3FF;
  padding: 0 0 0 0;
  font-weight: 700;
  font-size: 16px;
}
.nav-bar__link:hover {
  text-decoration: underline 2px solid #24A3FF;
}
@media screen and (max-width: 768px) {
  .nav-bar__link {
    background-color: #F5F5FA;
    color: #24A3FF;
    border-radius: 12px;
    text-decoration: none;
    padding: 9.5px 0;
    font-size: 24px;
  }
  .nav-bar__link:hover {
    text-decoration: none;
  }
}

.dot-separator {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #E6E6F0;
  background-color: #E6E6F0;
  border: 3px solid;
}

.fb-link:hover .fb-link__hover {
  fill: #F0145A;
  transition: all 0.5s ease;
}

.lang_type {
  text-transform: uppercase;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  width: 33px;
  height: 25px;
  border-radius: 8px;
  padding: 5px 7px;
  background-color: transparent;
  border: none;
}
.lang_type:active {
  background-color: #F0145A;
  color: #FFFFFF;
}
.lang_type:hover {
  background-color: #F5F5FA;
}

.header-grid__info > p {
  margin-bottom: 0;
}

.header-grid {
  display: grid;
  width: 100%;
  grid-template-areas: "info info" "logo nav";
  justify-content: space-between;
}
.header-grid__logo {
  grid-area: logo;
  padding-left: 15px;
  padding-top: 15px;
}
.header-grid__logo > .header-current {
  color: black;
}
@media screen and (min-width: 768px) {
  .header-grid__logo {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1024px) {
  .header-grid__logo {
    padding: 0 0 0 0;
  }
}
.header-grid__info {
  grid-area: info;
  background-color: #F5F5FA;
  gap: 6px;
}
@media screen and (min-width: 768px) {
  .header-grid__info {
    background-color: transparent;
  }
}
.header-grid__info > .adress {
  color: #B3B3BA;
}
.header-grid__nav {
  grid-area: nav;
  max-width: fit-content;
  padding-left: 105px;
}
@media screen and (min-width: 768px) {
  .header-grid__nav {
    padding-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header-grid__nav {
    margin-left: 73px;
    margin-top: 16px;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-grid {
    grid-template-areas: "info" "logo" "nav";
  }
}
@media screen and (min-width: 1024px) {
  .header-grid {
    grid-template-areas: "logo info" "logo nav";
  }
}

.telephone {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 16px;
}

.main-section__header-slash {
  margin: 0 4px;
}

.main-box {
  min-height: 100vh;
}
.main-box > main {
  flex-grow: 1;
}

.contact {
  max-width: 1390px;
  margin: 0 auto;
  padding: 30px 30px;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 60px 30px;
    gap: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    flex-direction: row;
  }
}
.contact__adress {
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .contact__adress {
    width: 50%;
  }
}
.contact__adress p {
  margin: 0 0 0 0;
}
.contact__adress p:nth-child(2) {
  color: #24A3FF;
  margin-top: 15px;
}
.contact__adress > div {
  border-top: 4px solid #E6E6F0;
  border-bottom: 4px solid #E6E6F0;
  padding: 30px 0;
}
.contact__adress-link {
  width: fit-content;
  text-decoration: none;
  color: #24A3FF;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.contact__adress-link:hover .fb-logo {
  fill: #F0145A;
}
.contact__adress-link > span {
  margin: 3px 0 0 10px;
}
.contact__adress-link:hover {
  color: #F0145A;
}
.contact__form {
  background-color: #F5F5FA;
  border-radius: 12px;
}
.contact__form > .h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 30px;
  margin: 0 0 0 0;
}
.contact__form-button {
  color: #FFFFFF;
  padding: 18px 0;
  border: transparent;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.contact__form > form {
  padding: 0 30px 30px;
  gap: 30px;
}
.contact__form input {
  border-radius: 8px;
  border: transparent;
}
.contact__form-box {
  gap: 15px;
}
.contact__form_input {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #B3B3BA;
}
.contact__form_input-message {
  min-height: 101px;
  border-radius: 8px;
  border: transparent;
}
@media screen and (min-width: 1024px) {
  .contact__form {
    width: 50%;
  }
}

.grey-section {
  background-color: #F5F5FA;
}

.footer_border {
  border-top: 2px solid #E6E6F0;
  padding-top: 30px;
}
.footer__container {
  max-width: 1600px;
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
  padding: 0 30px 30px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 0 60px 30px;
  }
}
.footer__adress {
  margin-bottom: 10px;
  color: #323264;
}
@media screen and (min-width: 768px) {
  .footer__adress {
    margin: 0 0 0 0;
  }
}
.footer__separator {
  color: #B3B3BA;
  margin: 0 10px;
}
.footer__telephone {
  color: #46466E;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .footer__telephone {
    margin: 0 0 0 0;
  }
}
.footer__mail {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0 0;
}
.footer__copyright {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 400;
}
.footer__copyright__bottom {
  margin-top: 30px;
}
.footer__map-link {
  color: #24A3FF;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer__map-link:hover {
  color: #F0145A;
}
.footer__box1 {
  margin-bottom: 21px;
}